version: '3.8'

services:
  backend:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
    environment:
      - JAVA_TOOL_OPTIONS=-Dspring.data.mongodb.uri=mongodb://mongodb:27017/trello_db
    networks:
      - trello-net

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - trello-net

networks:
  trello-net:
    driver: bridge

volumes:
  mongo-data: